<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605078883436-thblrqphjetdmsl3mpen0rl7mgnv5dns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605078883436-thblrqphjetdmsl3mpen0rl7mgnv5dns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605078883436-sah84vjn9j2qj61u9ek7tdcsllf536ek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRj7DF_cIlGYNhRBackj4CEH82ATxaFJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>605078883436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benji.firebaseDemo1</string>
	<key>PROJECT_ID</key>
	<string>note-app-56658</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-56658.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605078883436:ios:0da327207bdce339e01c49</string>
</dict>
</plist>